.container {
    padding: 40px 0px;
    background-color: lightgray;
    justify-content: space-around;
    margin-top: 100px;
    color: lightgray;
    display: flex;
}

.container h2 {
    color: lightgray;
    filter: brightness(30%);
}

.Eliments{
    min-width: 20%;
}

.container li {
    font-size: 0.7rem;
    color: lightgray;
    cursor: pointer;
    margin-bottom:0px ;
    position: relative;
    left: 10px;
    list-style: none;
    filter: brightness(50%);
}

.container h2{
    font-size: 0.9rem;
}

.logo {
    display: flex;
    
    position: relative;
    right: 0px;
}

.img {
        width: 10%;
        height: 10%;
}

.div{
    background-color: lightgray;
    margin-bottom: 0px;
}
 
.div h3{
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.logoContiner{
    width: 150px;
    justify-self: flex-start;
    align-self: flex-start;
}



@media (min-width: 850px) {
    
.container li {
    font-size: 1rem;
    margin-bottom:15px ;
}

.Eliments li:hover {
    color: #002D62;
}

.logoContiner{
    width: 280px;
}

.container h2{
    font-size: 1.5rem;
}
}