

.reatingTitle{
    color: #002D62;
    margin-top: 100px ;
    margin-bottom: 40px ;
    text-align: center;
}

.moaiin{
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: -43px;
    border-radius: 15px;
    transform: rotate(45deg);
    overflow:hidden;
    box-shadow: 0px 0px 8px black;

}

.morbah{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
  
    bottom: 80px;
}

.quote{
    position: relative;
    left: -13px;
    top: 5px;
    width: 50px;
     height: 50px;
     fill: #002D62
    
}


.ReatingDivMain{
    position: relative;
    display: flex;
    font-size: 0.75rem;
    flex-direction: column;
    align-self: flex-start;
    min-height: 100px;
    padding: 30px;
    min-width: 100%;
    border-radius: 20px;
    margin: 50px auto;
    background-color: #002D62;
    border: 2px solid #002D62;
    box-shadow: 0px 0px 8px #002D62;
}



.ReatingDiv{
    position: relative;
    display: none;
    flex-direction: column;
    font-size: 0.75rem;
    min-height: 100px;
    padding: 10px;
    align-self: flex-end;
    min-height: 210px;
    width: 400px;
    border-radius: 20px;
    color: #002D62;
   border-radius: 20px;
    margin: 50px;
    background-color: white;
    border: 2px solid  rgb(233, 230, 230);
    box-shadow: 0px 0px 8px black;
    opacity: 0.75;

}




.ReatingDiv .moaiin{
    width: 60px;
    height: 60px;
    background-color: #002D62;
    position: absolute;
    top: -35px;
    border-radius: 15px;
    transform: rotate(45deg);
    overflow:hidden;
    box-shadow: 0px 0px 8px black;

}


.ReatingDiv .quote{
    position: relative;
    left: -10px;
    top: 5px;
    width: 35px;
     height: 35px;
     fill: white
    
}
.AllReating{
    display: flex;
    justify-content: space-around;
}


.AllReating::-webkit-scrollbar {
    display: none; /* لإخفاء شريط التمرير في المتصفحات التي تدعم WebKit */
  }


.custmerInfo{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.ReatingDivMain ::selection{
    background-color: white;
    color: #002D62;
}
.img{
    width: 80px;
    height: 80px;
    background-color: white;
}


.smallImg{
    width: 50px;
    height: 50px;
    background-color: white;
}


.smallImg img {
    width: 10px;
    object-fit: cover;
}

.img img {
    width: 20px;
    object-fit: cover;
}

.stars{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.ReatingDivMain h2, .ReatingDivMain  p{
    color: white;
}

.ReatingDiv h2 , .ReatingDiv p {
    color: #002D62;

}


p{
    line-height: 1.6; 

}
@media (min-width: 850px) {
    .ReatingDiv{
        display: flex;
    }

    
.ReatingDivMain{
    display: flex;
    min-height: 200px;
    padding: 30px;
    font-size: 1rem;
    width: 550px;
    min-width: 450px;
    margin: 50px;
}


.reatingTitle{
    margin-bottom: 80px ;
}
}