.svg {
    width: 70px;
    height: auto;
    fill: #002D62;
    display: flex;
    position: relative;
    top:  12px;
    
    margin: 0 auto;
}

.div{
    margin-top: 50px;
}

.serveses{
    display: block;
    padding-top: 30px;
    justify-content: space-around;
}


.openRow{
    display: flex;
    gap: 10px;
    justify-content: space-around;

}

.companiesCardLogo{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #203250;
    display: block;
    padding: 1px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px #002D62; /* زيادة الظل ليكون أوضح */
  }
  .serveses h3{
    font-size: small;
  }

  @media (min-width: 850px) {


    .serveses h3{
        font-size: large;
      }
    
.serveses{
    display: flex;
    justify-content: space-around;
}
    
.companiesCardLogo{
    cursor: pointer;

    width: 150px;
    min-height: 150px;
    border-radius: 100%;
    margin: 16px;
    border: 2px solid #203250;
    display: flex;
    align-self: flex-end;
    padding: 1px;
    box-shadow: 0px 0px 8px #002D62; /* زيادة الظل ليكون أوضح */
    
  }

  .svg {
    width: 110px;
    height: auto;
    margin: 0 auto;
    fill: #002D62;
    position: flex;
    top:  0px;
}
  }
