.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header{
  justify-content: space-around;
  background-color: lightgray;
  padding: 2rem 1rem;
  color:#203250 ;
}
.openRow{
  display: flex;
  flex-direction: column;

}

.titles--container{
  margin-top: 1em;
}

.Black-Auto-Part{
  color: black;
}
.container{
  margin: 0px 4px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titlesList li{
  margin-top: 1em;
}

.titlesList{
  margin-top: 2em;
}

@media (min-width: 750px) {
  .openRow{
    flex-direction: row;
  
  }

  .titlesList{
    font-size: 1.3rem;
    margin-top: 1.7em;
  }

  .titlesList li{
    margin-top: 1.3em;
  }
  header{
    padding: 2rem 0rem;
  }
  

}
