.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img{
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header{
  background-color: lightgray;
  padding: 2rem 1rem;
}

.mainHeader{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
color:#203250 ;
}
.openRow{
  display: flex;
  flex-direction: column;

}

.praicing--img--div{
  width: 100%;
  margin-top: 16px;
  max-width: 180px;
}

.praicing--img{
  object-fit:cover;
}
.titles--container{
  margin-top: 1em;
  line-height: 1.6; 
}

.Black-Auto-Part{
  color: black;
}
.container{
  margin: 0px 3.5%;
}

.praicing{
  margin: 3em 0em;
  font-weight: 100;
  color: white;
  margin: 3em auto;
  background-color: #203250;
  padding: 0.5em 0.5em;
  border-radius: 15px;
  overflow: hidden;
}


.praicing--row{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.praicing--btn{
  font-size: larger;
  background-color: #203250;
  border: 2px solid white;
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
  padding: 0.25em;
  cursor: pointer;
}


.praicing--btn:hover{
  color: #203250;
  background-color: white;
}
.praicing--btn--div{
  display: flex;

}
.praicing--latter{
  position: relative;
  top: 0;
  font-size: 1rem;
  width: 50%;
}
.praicing--title{
  font-weight: 400;
}

.praicing--p{
  color: lightgray;
  opacity: 0.9;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titlesList li{
  margin-top: 1em;
  line-height: 1.6; 
}

.titlesList{
  margin-top: 2em;
  margin-right: -1rem;
  
}

.search {
  display: none;
  width: 60%;
  margin-right: 2em;
}

.header--search{
  margin: 1.5rem  auto 1.5rem auto;
  display: block;
  width: 90%;
}

.search__input {
  background-image: url("./assets/images/search.svg");
  cursor: text;
  background-repeat: no-repeat;
  background-color: white;
  font-family: "Rubik";
  border-radius: 15px;
  font-size: 1rem;
  width: 100%;
  background-position: 5px 8px;
  padding: 0.5em 0.5em 0.5em 2em;
  border: transparent;
}



@media (min-width: 1000px) {
  .mainHeader{
    flex-direction: row;

  }
  
}



@media (min-width: 850px) {
  .praicing--latter{
    font-size: 1rem;
  }
  .praicing--btn{
    margin-top: 1em;
  }

  .praicing--img--div{
    margin-top: 0px;}
  .praicing--wideScreenDiv{
    margin-left: auto;
    margin-right: 80px;
    width: 50%;
  }
  .praicing{
    width: 100%;
  }

  .praicing--row{
    justify-content: space-around;

  }
  .openRow{
    flex-direction: row;

  }
  .header--search{
    display: none;
  }
  .titlesList{
    font-size: 1.3rem;
    margin-top: 1.7em;
  }

  .titlesList li{
    margin-top: 1.3em;
  }
  header{
    padding: 2rem 0rem;
  }
  .search {
    display: block;
  }

}
