@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}


button , input{
  font-family: 'Rubik';
}

:root {
  color-scheme: dark;
}
body {
  margin: 0;
  background-color: white;
  color: #002D62;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
}

.hl{
  border-top: 2px solid #002D62 ;
  width: 11em;
  margin-left: auto;
  margin-bottom: 16px;
}

.visibility {
  margin: 0 auto;
  gap: 10px;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.fillBox {
  width: 0.93em; /* زيادة الحجم */
  height: 0.93em;
  border-radius: 3px; /* زيادة الزاوية المدورة */
  border: 0.07em solid #002D62;
  background-color: #002D62;
  box-shadow: 0px 0px 5px #002D62; /* زيادة الظل ليكون أوضح */
}

.emptyBox {
  width: 0.8em; /* زيادة الحجم */
  height: 0.8em;
  flex-shrink: 0;
  border-radius: 3px; /* زيادة الزاوية المدورة */
  border: 0.07em solid #002D62;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection{
  color: white;
  background-color: #002D62;
}

.row{
  display: flex;
}

a{
  cursor: pointer;
}

